USE [Sondeo-web]
GO
/****** Object:  User [usuariodefinitivo]    Script Date: 28/11/2019 23:51:32 ******/
CREATE USER [usuariodefinitivo] FOR LOGIN [usuariodefinitivo] WITH DEFAULT_SCHEMA=[db_accessadmin]
GO
ALTER ROLE [db_owner] ADD MEMBER [usuariodefinitivo]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [usuariodefinitivo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [usuariodefinitivo]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [usuariodefinitivo]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 28/11/2019 23:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 28/11/2019 23:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 28/11/2019 23:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 28/11/2019 23:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 28/11/2019 23:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 28/11/2019 23:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 28/11/2019 23:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[ID_CATEGORIA] [int] IDENTITY(1,1) NOT NULL,
	[CATEGORIA] [varchar](25) NOT NULL,
	[DESCRIPCION_CAT] [varchar](100) NOT NULL,
 CONSTRAINT [PK_CATEGORIA] PRIMARY KEY CLUSTERED 
(
	[ID_CATEGORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DEPARTAMENTOS]    Script Date: 28/11/2019 23:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTAMENTOS](
	[ID_DEPTO] [int] NOT NULL,
	[DEPARTAMENTO] [nvarchar](50) NULL,
 CONSTRAINT [PK_T_DEPARTAMENTOS] PRIMARY KEY CLUSTERED 
(
	[ID_DEPTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOCALIZACION]    Script Date: 28/11/2019 23:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOCALIZACION](
	[ID_LOCAL] [int] IDENTITY(1,1) NOT NULL,
	[LOCALIDAD] [varchar](50) NOT NULL,
	[DEPARTAMENTO] [int] NOT NULL,
	[MUNICIPIO] [int] NOT NULL,
	[AREA] [varchar](50) NOT NULL,
	[CreadoPor] [nvarchar](128) NOT NULL,
	[DIRECCION] [varchar](100) NOT NULL,
 CONSTRAINT [PK_LOCALIZACION] PRIMARY KEY CLUSTERED 
(
	[ID_LOCAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MARCA]    Script Date: 28/11/2019 23:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MARCA](
	[ID_MARCA] [int] IDENTITY(1,1) NOT NULL,
	[MARCA] [varchar](50) NOT NULL,
 CONSTRAINT [PK_MARCA] PRIMARY KEY CLUSTERED 
(
	[ID_MARCA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MEDIDA]    Script Date: 28/11/2019 23:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MEDIDA](
	[ID_MEDIDA] [int] NOT NULL,
	[MEDIDA] [varchar](50) NOT NULL,
 CONSTRAINT [PK_MEDIDA] PRIMARY KEY CLUSTERED 
(
	[ID_MEDIDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MUNICIPIOS]    Script Date: 28/11/2019 23:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUNICIPIOS](
	[ID_MUN] [int] NOT NULL,
	[MUNICIPIO] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_T_MUNICIPIOS] PRIMARY KEY CLUSTERED 
(
	[ID_MUN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 28/11/2019 23:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[ID_PRODUCTO] [int] IDENTITY(1,1) NOT NULL,
	[ID_CATEGORIA] [int] NULL,
	[UNIDAD_MEDIDA] [int] NULL,
	[ID_MARCA] [int] NULL,
	[PRODUCTO] [varchar](50) NOT NULL,
	[PRESENTACION] [varchar](50) NOT NULL,
	[PRECIO_CONSULTA] [numeric](8, 2) NOT NULL,
	[TIPO] [varchar](50) NOT NULL,
	[ALPORMAYOR] [bit] NOT NULL CONSTRAINT [DF_PRODUCTO_ALPORMAYOR]  DEFAULT ((0)),
	[ID_SONDEO] [int] NOT NULL,
	[CANTIDAD_MEDIDA] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[REPORTE]    Script Date: 28/11/2019 23:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[REPORTE](
	[_REPORTE] [varchar](25) NOT NULL,
	[ID_SONDEO] [int] NULL,
	[ID_USUARIO] [nvarchar](256) NULL,
	[FECHA_REPORTE] [datetime] NOT NULL,
 CONSTRAINT [PK_REPORTE] PRIMARY KEY CLUSTERED 
(
	[_REPORTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SONDEO]    Script Date: 28/11/2019 23:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SONDEO](
	[ID_SONDEO] [int] IDENTITY(1,1) NOT NULL,
	[ID_LOCAL] [int] NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[DESCRIPCION] [varchar](1024) NOT NULL,
	[FINALIZADO] [bit] NOT NULL CONSTRAINT [DF_SONDEO_ESTADO]  DEFAULT ((0)),
	[ID_USUARIO] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_SONDEO] PRIMARY KEY CLUSTERED 
(
	[ID_SONDEO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'1', N'admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'3', N'encuestador')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'2', N'gerente')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'37b5a8ec-81e7-4589-ba33-4d416629f4e6', N'1')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'3599ba56-93f9-4010-a120-5226ecb8963b', N'3')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'af8051a8-10d1-4444-be2a-d4ebc4a99994', N'3')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'3599ba56-93f9-4010-a120-5226ecb8963b', N'roles@admin.com', 0, N'AKMwKE7YFnXbPK7xDsZ8o99MDdrV0ul02h5nZPCvLRlzzQyNiR4+nV7z3iFOGv4efg==', N'e679aa9c-5d59-4ad3-a812-dcf015984c0a', NULL, 0, 0, NULL, 1, 0, N'pruebarol')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'37b5a8ec-81e7-4589-ba33-4d416629f4e6', N'armin@admin.com', 0, N'AG6rnhOeI7M8DjKgdZAoDXe4EgakUJR1mGu2kEPBHXu5VX1bCxWHzWsHQdL+M+XADA==', N'97894736-2bbc-4a4c-af47-d4bd17f7976c', NULL, 0, 0, NULL, 1, 0, N'Admin')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'668d3495-c394-466a-a1bf-022703e54e43', N'7eam@admin.com', 0, N'AHHxnVrMxLKysLKEprqmmmAY4U/rJ164w2fuUkggZma6y7+ep9lWthUnmJZypuwpiQ==', N'c679d27a-979a-42ea-8953-8d83699161ab', NULL, 0, 0, NULL, 1, 0, N'usuariodefinitivo')
SET IDENTITY_INSERT [dbo].[CATEGORIA] ON 

INSERT [dbo].[CATEGORIA] ([ID_CATEGORIA], [CATEGORIA], [DESCRIPCION_CAT]) VALUES (1, N'Productos Basicos', N'Productos Basicos')
INSERT [dbo].[CATEGORIA] ([ID_CATEGORIA], [CATEGORIA], [DESCRIPCION_CAT]) VALUES (2, N'Ganos Basicos', N'Granos Basicos')
INSERT [dbo].[CATEGORIA] ([ID_CATEGORIA], [CATEGORIA], [DESCRIPCION_CAT]) VALUES (3, N'Harinas', N'Harinas')
SET IDENTITY_INSERT [dbo].[CATEGORIA] OFF
INSERT [dbo].[DEPARTAMENTOS] ([ID_DEPTO], [DEPARTAMENTO]) VALUES (1, N'Ahuachapán')
INSERT [dbo].[DEPARTAMENTOS] ([ID_DEPTO], [DEPARTAMENTO]) VALUES (2, N'Cabañas')
INSERT [dbo].[DEPARTAMENTOS] ([ID_DEPTO], [DEPARTAMENTO]) VALUES (3, N'Chalatenango')
SET IDENTITY_INSERT [dbo].[LOCALIZACION] ON 

INSERT [dbo].[LOCALIZACION] ([ID_LOCAL], [LOCALIDAD], [DEPARTAMENTO], [MUNICIPIO], [AREA], [CreadoPor], [DIRECCION]) VALUES (11, N'Localidad de prueba', 10, 187, N'Mercado municipal', N'668d3495-c394-466a-a1bf-022703e54e43', N'mi casa papu')
INSERT [dbo].[LOCALIZACION] ([ID_LOCAL], [LOCALIDAD], [DEPARTAMENTO], [MUNICIPIO], [AREA], [CreadoPor], [DIRECCION]) VALUES (12, N'asdfg', 1, 1, N'Mercado municipal', N'668d3495-c394-466a-a1bf-022703e54e43', N'hjkl')
INSERT [dbo].[LOCALIZACION] ([ID_LOCAL], [LOCALIDAD], [DEPARTAMENTO], [MUNICIPIO], [AREA], [CreadoPor], [DIRECCION]) VALUES (13, N'Despensa de Don Juan', 10, 187, N'Mercado municipal', N'668d3495-c394-466a-a1bf-022703e54e43', N'stuck in a loop')
SET IDENTITY_INSERT [dbo].[LOCALIZACION] OFF
SET IDENTITY_INSERT [dbo].[MARCA] ON 

INSERT [dbo].[MARCA] ([ID_MARCA], [MARCA]) VALUES (1, N'Marca de prueba')
INSERT [dbo].[MARCA] ([ID_MARCA], [MARCA]) VALUES (2, N'Marca 2')
INSERT [dbo].[MARCA] ([ID_MARCA], [MARCA]) VALUES (3, N'Coca-cola')
SET IDENTITY_INSERT [dbo].[MARCA] OFF
INSERT [dbo].[MEDIDA] ([ID_MEDIDA], [MEDIDA]) VALUES (1, N'Libras')
INSERT [dbo].[MUNICIPIOS] ([ID_MUN], [MUNICIPIO]) VALUES (1, N'Ahuachapán')
INSERT [dbo].[MUNICIPIOS] ([ID_MUN], [MUNICIPIO]) VALUES (2, N'Jujutla')
INSERT [dbo].[MUNICIPIOS] ([ID_MUN], [MUNICIPIO]) VALUES (3, N'Atiquizaya')
GO
SET IDENTITY_INSERT [dbo].[PRODUCTO] ON 

INSERT [dbo].[PRODUCTO] ([ID_PRODUCTO], [ID_CATEGORIA], [UNIDAD_MEDIDA], [ID_MARCA], [PRODUCTO], [PRESENTACION], [PRECIO_CONSULTA], [TIPO], [ALPORMAYOR], [ID_SONDEO], [CANTIDAD_MEDIDA]) VALUES (3, 1, 1, 1, N'Leche', N'Botella', CAST(25.00 AS Numeric(8, 2)), N'de Almendras', 1, 0, CAST(100 AS Numeric(18, 0)))
INSERT [dbo].[PRODUCTO] ([ID_PRODUCTO], [ID_CATEGORIA], [UNIDAD_MEDIDA], [ID_MARCA], [PRODUCTO], [PRESENTACION], [PRECIO_CONSULTA], [TIPO], [ALPORMAYOR], [ID_SONDEO], [CANTIDAD_MEDIDA]) VALUES (6, 1, 1, 1, N'kjhgfd', N'dfghjk', CAST(2.00 AS Numeric(8, 2)), N'aDSFGHJ', 1, 2, CAST(5 AS Numeric(18, 0)))
INSERT [dbo].[PRODUCTO] ([ID_PRODUCTO], [ID_CATEGORIA], [UNIDAD_MEDIDA], [ID_MARCA], [PRODUCTO], [PRESENTACION], [PRECIO_CONSULTA], [TIPO], [ALPORMAYOR], [ID_SONDEO], [CANTIDAD_MEDIDA]) VALUES (7, 1, 1, 1, N'kjhgfd', N'vfnhjmk', CAST(9844.00 AS Numeric(8, 2)), N'ertyu', 1, 3, CAST(94 AS Numeric(18, 0)))
SET IDENTITY_INSERT [dbo].[PRODUCTO] OFF
SET IDENTITY_INSERT [dbo].[SONDEO] ON 

INSERT [dbo].[SONDEO] ([ID_SONDEO], [ID_LOCAL], [FECHA], [DESCRIPCION], [FINALIZADO], [ID_USUARIO]) VALUES (0, 16, CAST(N'2019-11-28 00:00:00.000' AS DateTime), N'uff', 0, N'usuariodefinitivo')
INSERT [dbo].[SONDEO] ([ID_SONDEO], [ID_LOCAL], [FECHA], [DESCRIPCION], [FINALIZADO], [ID_USUARIO]) VALUES (2, 19, CAST(N'2019-11-28 00:00:00.000' AS DateTime), N'wild wild son', 0, N'prueba3')
INSERT [dbo].[SONDEO] ([ID_SONDEO], [ID_LOCAL], [FECHA], [DESCRIPCION], [FINALIZADO], [ID_USUARIO]) VALUES (3, 21, CAST(N'2019-11-28 00:00:00.000' AS DateTime), N'yiuuysfdvd', 1, N'encuestador1')
SET IDENTITY_INSERT [dbo].[SONDEO] OFF
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[LOCALIZACION]  WITH CHECK ADD  CONSTRAINT [FK_LOCALIZACION_AspNetUsers] FOREIGN KEY([CreadoPor])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[LOCALIZACION] CHECK CONSTRAINT [FK_LOCALIZACION_AspNetUsers]
GO
ALTER TABLE [dbo].[LOCALIZACION]  WITH CHECK ADD  CONSTRAINT [FK_LOCALIZACION_DEPARTAMENTOS] FOREIGN KEY([DEPARTAMENTO])
REFERENCES [dbo].[DEPARTAMENTOS] ([ID_DEPTO])
GO
ALTER TABLE [dbo].[LOCALIZACION] CHECK CONSTRAINT [FK_LOCALIZACION_DEPARTAMENTOS]
GO
ALTER TABLE [dbo].[LOCALIZACION]  WITH CHECK ADD  CONSTRAINT [FK_LOCALIZACION_MUNICIPIOS] FOREIGN KEY([MUNICIPIO])
REFERENCES [dbo].[MUNICIPIOS] ([ID_MUN])
GO
ALTER TABLE [dbo].[LOCALIZACION] CHECK CONSTRAINT [FK_LOCALIZACION_MUNICIPIOS]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_MIDE_MEDIDA] FOREIGN KEY([UNIDAD_MEDIDA])
REFERENCES [dbo].[MEDIDA] ([ID_MEDIDA])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [FK_PRODUCTO_MIDE_MEDIDA]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_SE_CLASIF_CATEGORI] FOREIGN KEY([ID_CATEGORIA])
REFERENCES [dbo].[CATEGORIA] ([ID_CATEGORIA])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [FK_PRODUCTO_SE_CLASIF_CATEGORI]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_TIENE_MARCA] FOREIGN KEY([ID_MARCA])
REFERENCES [dbo].[MARCA] ([ID_MARCA])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [FK_PRODUCTO_TIENE_MARCA]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_SONDEO_SE_COMPON_PRODUCTO] FOREIGN KEY([ID_SONDEO])
REFERENCES [dbo].[SONDEO] ([ID_SONDEO])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [FK_SONDEO_SE_COMPON_PRODUCTO]
GO
ALTER TABLE [dbo].[REPORTE]  WITH CHECK ADD  CONSTRAINT [FK_REPORTE_AspNetUsers] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[AspNetUsers] ([UserName])
GO
ALTER TABLE [dbo].[REPORTE] CHECK CONSTRAINT [FK_REPORTE_AspNetUsers]
GO
ALTER TABLE [dbo].[REPORTE]  WITH CHECK ADD  CONSTRAINT [FK_REPORTE_GENERA_SONDEO] FOREIGN KEY([ID_SONDEO])
REFERENCES [dbo].[SONDEO] ([ID_SONDEO])
GO
ALTER TABLE [dbo].[REPORTE] CHECK CONSTRAINT [FK_REPORTE_GENERA_SONDEO]
GO
ALTER TABLE [dbo].[SONDEO]  WITH CHECK ADD  CONSTRAINT [FK_SONDEO_AspNetUsers] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[AspNetUsers] ([UserName])
GO
ALTER TABLE [dbo].[SONDEO] CHECK CONSTRAINT [FK_SONDEO_AspNetUsers]
GO
ALTER TABLE [dbo].[SONDEO]  WITH CHECK ADD  CONSTRAINT [FK_SONDEO_SE_REALIZ_LOCALIZA] FOREIGN KEY([ID_LOCAL])
REFERENCES [dbo].[LOCALIZACION] ([ID_LOCAL])
GO
ALTER TABLE [dbo].[SONDEO] CHECK CONSTRAINT [FK_SONDEO_SE_REALIZ_LOCALIZA]
GO
