@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Sistema de Sondeos de Precios de la Canasta Basica</h1>
        <p class="lead">Bienvenido al sistema de Sondeo de Precios de la canasta basica elaborado por 7EAM</p>
        <p><a href="../Sondeos/NuevoSondeo" class="btn btn-primary btn-lg">Crear un sondeo</a></p>
        <p><a href="../Sondeos/MisSondeos" class="btn btn-primary btn-lg">Ver mis sondeos</a></p>
        
    </div>
